
* {
    font-family: MedievalSharp;
    margin: 0;
}

.cabecalho {
    background-color: rgb(0, 0, 0);
    color: #dc1b2e;
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
}

.homepage-paralax {
    background-color: #d3707a;
}

.logo {
    width: 100%;
    height: 64px;
    text-align: center;
}
.icon {
    height: 100%;
}
.title {
    text-align: center;
    width: 100%;
}
.conteudo {
    color: white;
    background-color: #3c3c3c;
    width: 100%;
    margin-top: 20;
    padding: 20;
    display: flex;
    justify-content: center;
}
.card {
    background-color: rgb(131, 35, 35);
    width: 35%;
    margin-right: 20;
    padding: 15;
    border-radius: 15%;
}
.linktree {
    width: 80%;
    padding: 20px;
    display: flex;
    margin: auto;
    justify-content: center;
}
.button {
    width: 64px;
    height: 64px;
    margin: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.button-icon {
    height: 50%;    
    opacity: .7;
    background-color: #3c3c3c;
    border-radius: 25%;
    padding: 5px;
}
.button-icon:hover {
    height: 100%;
    opacity: 1;
}

.rodape {
    background-color:#2F2325;
    border-top: 0.4px solid #dc1b2e;
}

.rodape-imagem {
    display: block;
    margin: 0 auto;
}