@import url('https://fonts.cdnfonts.com/css/medievalsharp');
*{
    margin: 0;
    padding: 0;
    font-family: medievalsharp;
}


    
    /* Menu */
    .imagem {
    position: absolute;
    top: 0;
    left: 0;
      }

      .cabecalho {
        background-color: rgb(0, 0, 0);
        color: #dc1b2e;
        display:flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        padding: 2px;
    }
    
    .menu {
        display:flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        justify-content: space-between;
        gap: 30px;
    }
    
    nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    transition: color 0.3s ease;
    }
    
    nav ul li a:hover {
    color: #f44336;
    }
    
    /* Conteúdo Principal */

    .inicio {
        display: flex;
        justify-content:center ;
        align-items: center;
        height: 700px;
        background-image: url("https://wallpaperaccess.com/full/1994716.jpg");
        background-position: center;
   
        background-size: cover;
        
    }

    .btn-primary {
        align-items: center;
        background-color: #ec2416;
        border: 1px solid #f6717e;
        color: #fff;
        padding: 1rem 2rem;
        border-radius: 2rem;
        text-decoration: none;
        transition: background-color 0.3s ease;
        }
        
        
        .btn-primary:hover {
        background-color: #fff;
        color: #f44336;
        }

    .about {
    background-image:url("red-dragon2.png");
    height: 400px;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    
    }
    
    .about h2 {
    color: #fff;    
    font-size: 3rem;
    margin-bottom: 2rem;
    height: 100px; 
    line-height: 100px;
    text-align: center;
    padding-top: 90px;
    }
    
    .about p {
    color:#fff;    
    font-size: 1.2rem;
    margin: 0 auto;
    max-width: 800px;
    text-align: center;
    }
    
    .games {
        background-color: #59010a;
    }

    .text {
        padding-bottom: 60px;
    }

    .game1 {
        height: 450px;
        background-image: url("https://wallpaperaccess.com/full/3621096.jpg");
        background-position: center;
        background-attachment: fixed;
        background-size: cover;
    }

    .game2 {
        height: 450px;
        background-image: url("https://images.hdqwalls.com/wallpapers/beach-morning-minimal-art-4k-dp.jpg");
        background-position: center;
        background-attachment: fixed;
        background-size: cover;
    }

    .game3 {
        height: 450px;
        background-image: url("https://wallpaperaccess.com/full/3621006.jpg");
        background-position: center;
        background-attachment: fixed;
        background-size: cover;
    }
    
    .games h2 {
    color: #fff;    
    font-size: 3rem;
    margin-bottom: 2rem;
    text-align: center;
    padding-top: 80px;
    }
    .games p {   
    color:#fff;     
    font-size: 1.2rem;
    margin: 0 auto 2rem;
    max-width: 800px;
    text-align: center;
    }
    
    .game-card1 {
    background-color: #033e2a;
    padding: 2rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
    }

    .game-card2 {
        background-color: #6e95a2;
        padding: 2rem;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
        margin: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 80px;
        }

        .game-card3 {
            background-color: #035785;
            padding: 2rem;
            box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
            margin: 0px;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 80px;
            }
    
    .img-card {
    
    max-width: 100%;
    border-radius: 1rem;
    margin-bottom: 1rem;
    }

    .titulos {
        color: #fff;    
        font-size: 1.5rem;
        margin-bottom: 1rem;
        }

    .game-card1 h3 {
    color: #fff;    
    font-size: 1.5rem;
    margin-bottom: 1rem;
    }
    
    .game-card p {
    font-size: 1.2rem;
    text-align: center;
    }

    .titulo-sab {
        color: #fffefe;
        font-size: 50px;
    }

    .sab {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        height: 400px;
        background: linear-gradient(0deg, #de726c 5%, #d23b3b 90%);
        border-top: 2px #d16c6c;
    }
    
    .contact button {
    background-color: #f44336;
    color: #fff;
    padding: 1rem 2rem;
    border-radius: 2rem;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    }
    .btn-sec {
        align-items: center;
        background-color: #e03529;
        border: 1px solid #ffffff;
        color: #fff;
        padding: 1rem 2rem;
        border-radius: 2rem;
        text-decoration: none;
        transition: background-color 0.3s ease;
        }
        
        
        .btn-sec:hover {
        background-color: #fff;
        color: #f44336;
        }
    /* Estilo do rodapé */
    .rodape {
        background-color:#2F2325;
        border-top: 0.4px solid #dc1b2e;
    }
    
    .rodape-imagem {
        display: block;
        margin: 0 auto;
    }
    @keyframes fade-in {
    from {
    opacity: 0;
    transform: translateY(1rem);
    }
    to {
    opacity: 1;
    transform: translateY(0);
    }
    }
    
    .slide-up {
    animation: slide-up 1s ease;
    }
    
    @keyframes slide-up {
    from {
    transform: translateY(2rem);
    }
    to {
    transform: translateY(0);
    }
    }
    