#timer {
  margin: 10px auto;
  justify-content: center;
  width: fit-content;
  background-color: gray;
  display: flex;
}
.controls {
  display: flex;
  gap: 10px;
  justify-content: center;
}
