@import url('https://fonts.cdnfonts.com/css/medievalsharp');
* {
    margin: 0;
    padding: 0;
    font-family: medievalsharp;
    box-sizing: border-box;
    text-decoration: none;
}

header {
    background-color: rgb(0, 0, 0);
    color: #dc1b2e;
    padding: 100px;
  }

  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;  
  }

  .menu1 {
    padding-right: 20px;
  }

  .menu3 {
    padding-left: 20px;
  }
  
  nav li {
    display: inline-block;
    margin-right: 20px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
  }  

  .conteudo-principal {
    background-color: #a60505;
  }

  .row h5, p{
    color: #000000;
  }

  .about {
    background-image: linear-gradient(black, #a60505);
    color: #fff;
  }
  .schedule {
    background-image: linear-gradient(#a60505, black);
    color: #fff;
  }

  .speakers {
    background-image: linear-gradient(black, #a60505);
    color: #fff;
  }

  .service {
    background-image: linear-gradient(#a60505, black);
    color: #fff;
  }

:root {
    --color-neutral-0: #0c0c0c;
    --color-neutral-10: #171717;
    --color-neutral-30: #a8a29e;
    --color-neutral-40: #f5f5f5;
  }

* {
    margin: 0;
    padding: 0;
    font-family: medievalsharp;
    box-sizing: border-box;
    text-decoration: none;
    letter-spacing: 1px;
}

footer {
    border-top: 1px solid #a60505;
    width: 100%;
    color: rgb(215, 99, 99);
}

.footer-link {
    text-decoration: none;
}

#footer-content {
    background-color: #2F2325;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 3rem 3.5rem;
}

#footer-contacts h1 {
    margin-bottom: 0.75rem;
}

#footer-social-media {
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;
}

#footer-social-media .footer-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    color: var(--color-neutral-40);
    border-radius: 50%;
    transition: all 0.4s;
}

#footer-social-media .footer-link i {
    font-size: 1.25rem;
}

#footer-social-media .footer-link:hover {
    opacity: 0.8;
}

#instagram {
    background: linear-gradient(#7f37c9, #ff2992, #ff9807);
}

#facebook {
    background-color: #4267b3;
}

#whatsapp {
    background-color: #25d366;
}

.footer-list {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;
}

.footer-list .footer-link {
    color: rgb(226, 196, 196);
    transition: all 0.4s;
}

.footer-list .footer-link:hover {
    color: #c93737
}

#footer-subscribe {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

#footer-subscribe p{
    color: rgb(238, 202, 202);
}

#input-group {
    display: flex;
    align-items: center;
    background-color: rgb(195, 121, 121);
    border-radius: 4px;
}

#input-group input {
    all: unset;
    padding: 0.75rem;
    width: 100%;
}

#input-group button {
    background-color: #c93737;
    border: none;
    color: var(--color-neutral-40);
    padding: 0px 1.25rem;
    font-size: 1.25rem;
    height: 100%;
    border-radius: 0px 4px 4px 0px;
    cursor: pointer;
    transition: all 0.4s;
}

#input-group button:hover {
    opacity: 0.8;
}

#footer-copyright {
    display: flex;
    justify-content: center;
    background-color: rgb(34, 19, 19);
    font-size: 0.9rem;
    padding: 1.5rem;
    font-weight: 100;
}
