@import url('https://fonts.cdnfonts.com/css/medievalsharp');
* {
    margin: 0;
    padding: 0;
    font-family: medievalsharp;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
} 

.cabecalho {
    background-color: rgb(0, 0, 0);
    color: #dc1b2e;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 2px;
}

.menu {
    display:flex;
    gap: 30px;
}

.menu-item:hover {
    color: #ff9797;
    text-decoration: underline;
}

.menu-item {
    color: inherit;
    text-decoration: none;
    font-size: 22px;
    padding-left: 40px;
}

.conteudo-principal{
    background: linear-gradient(0deg, #6c0a1a 5%, #ff9898 90%);
    background-color: rgb(255, 210, 152);
    border-top: 0.6px solid #ff3245; 
    padding-bottom: 5px;
}

.principal {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-evenly;
    padding-top: 80px;
}

.principal-escrito {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.principal-titulo {
    font-size: 40px;
}

.principal-subtitulo {
    color: #000000;
    font-size: 25px;
    width: 850px;
    
}

.principal-escrito-botao:hover {
    background-color: #87131e;
    color:aliceblue;
}

.principal-escrito-botao {
    background-color: #dc1b2e;
    color: rgb(0, 0, 0);
    font-size: 18px;
    width: 180px;
    height: 40px;
    border-radius: 20px;
}

.conteudo-secundario {
    color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 80px;
    margin-bottom: 80px;
}

.secundario-titulo {
    color:rgb(255, 255, 255);
    border-bottom: 2px solid #ffffff;
    padding-top: 20px;
    font-size: 20px;
}

.rodape {
    background-color:#2F2325;
    border-top: 0.4px solid #dc1b2e;
}

.rodape-imagem {
    display: block;
    margin: 0 auto;
}
